<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/plivanje.jpg" alt="">
  </div>
  <div class="headings">
    <h2>swimming classes</h2>
    <h3>By Nixy</h3>
    <a href="/swimming" class="btn">View swimming tutorials</a>
  </div>
</header>


<%- include('partials/footer'); -%>